/* Styles body */
body {
    margin: 0;
    font-family: sans-serif
}

/* Styles header */
.header {
    text-align: center;
    position:relative;
}

/* Styles instructions section */
.instructions {
    text-align:center;
}

/* Styles number for the dice roll */
.dice {
    font-size: 50px; 
    border: 1px solid black; 
    width: 50px; 
    text-align: center;
    margin: 20px auto;
}

/* Styles the button */
.button {
    position:relative;
    text-align: center;
}